/*---------- Web Portfolio Styles ----------*/

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

/* Changing the maximum width of container to 1200px */

.container {
    max-width: 1200px;
}

body {
    font-family: 'Prompt', Helvetica, sans-serif;
    background-color: #fdf6f0;
}

h1 {
    font-family: 'DM Serif Display', Helvetica, sans-serif;
    color: #8DAD93;
    font-size: 3rem;
}

h2 {
    font-family: 'DM Serif Display', Helvetica, sans-serif;
    color: #324235;
    font-size: 2rem;
}

h3 {
    font-family: 'DM Serif Display', Helvetica, sans-serif;
    color: #324235;
    font-size: 1.5rem;
}

p {
    line-height: 1.5;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/*---------- Home Page ----------*/

.nav-green {
    background-color: #FDF6F0;
    color: #324235;
    border-bottom: 2px solid #324235;
}

.active {
    color: #324235;
}

.hero {
    align-items: center;
}

.hero-img {
    border: 2px solid #324235;
}

.h-about {
    background-color: #324235;
    color: #fdf6f0;
    padding: 3rem 1rem;
}

.work-h1 {
    text-align: center;
    color: #324235;
}

/* Applying slide up animations to the hero text and image */

.slide-up {
    animation: slideUp 600ms ease-in-out;
}

.slow-slide-up {
    animation: slideUp-hold 600ms ease-in-out;
}

.col-lg-5 {
    animation: slideUp 600ms ease-in-out;
}

@keyframes slideUp {
    0% {
        transform: translate(0, 100px);
        opacity: 0;
    }
    80% {
        transform: translate(0,0);
    }
}

@keyframes slideUp-hold {
    0% {
        transform: translate(0, 100px);
        opacity: 0;
    }
    100% {
        transform: translate(0,0);
    }
}

.selected-work .row p {
    margin-bottom: 0.5rem;
}

.categories {
    max-width: 400px;
    margin: 0 auto;
}

/* Styling the product button */

.p-btn {
    padding: 0.25rem 0.75rem;
    border-radius: 24px;
    color: #FDF6F0;
    font-size: 0.75rem;
    text-transform: uppercase;
    transition: 250ms linear;
}

.p-btn:hover {
    color: #324235;
}

/* Applying different background colors to different chips */

.p-appdesign {
    background-color: #EFAEAE;
}

.p-smedia {
    background-color: #54B59B;
}

.p-branding {
    background-color: #F3B08B;
    padding: 0.25rem 1.1rem;
}

.p-print {
    background-color: #EFAEAE;
    padding: 0.25rem 1.9rem;
}

.p-webdesign {
    background-color: #54B59B;
}

.p-illustration {
    background-color: #BFA4EB;
    padding: 0.25rem 0.85rem;
}


.project-h2 {
    margin: 1rem 0;
}

.project-item {
    margin: 2rem 0;
}

.projects img {
    filter: grayscale(70%);
}

.projects img:hover {
    animation: hoverimg 300ms linear both;
}

@keyframes hoverimg {
    0% {
        filter: grayscale(70%);
    }
    100% {
        filter: grayscale(0%);
    }
}

/*---------- Footer ----------*/

footer {
    background-color: #324235;
    color: #FDF6F0;
}

.footer-img {
    width: 3rem;
    height: 3rem;
}

.footer-main {
    padding: 1rem;
}

footer a {
    color: #FDF6F0;
}

footer a:hover {
    color: #ffffff;
}

footer li {
    list-style-type: none;
    text-align: center;
    margin: 1rem;
}

.f-nav-list {
    padding-left: 0;
}

/* Using flex to show all the social icons in a line in the footer */

.f-socialmedia {
    display: flex;
    justify-content: center;
}

.f-socialmedia a {
    margin: 1rem;
}

.f-socialmedia i {
    font-size: 2rem;
}


.copyright {
    text-align: center;
    padding: 0 2rem 3rem;
    margin-bottom: 0;
}

/*---------- About Page ----------*/

.about-details,
.about-more,
.about-experience {
    margin-top: 2rem;
}

.about-h1 {
    margin: 4rem 0 2rem;
}

/* Applying animations to the images */

/* Left image will come in from the left */

.leftimg {
    animation: leftSlideIn 600ms ease-in-out;
}

@keyframes leftSlideIn {
    0% {
        transform: translate(-100px, 0) skew(-20deg);
        opacity: 0;
    }
    100% {
        transform: translate(0,0);
    }
}

/* Right image will come in from the right */

.rightimg {
    animation: rightSlideIn 600ms ease-in-out;
}

@keyframes rightSlideIn {
    0% {
        transform: translate(100px, 0) skew(20deg);
        opacity: 0;
    }
    100% {
        transform: translate(0,0);
    }
}

.about-images img {
    margin-bottom: 2rem;
}

.about-images img:nth-child(1) {
    margin-top: 2rem;
}

.about-experience {
    margin-top: 4rem;
}

.track {
    margin-bottom: 1rem;
}

.date {
    margin-bottom: 0.25rem;
}

.work-item {
    margin-bottom: 1.5rem;
}

.skills {
    margin: 4rem 0 3rem;
}

.skills h2 {
    text-align: center;
    padding: 2rem;
    background-color: #ffffff;
    margin-top: 1rem;
}

/*---------- Contact Page ----------*/

.contact-h1 {
    margin: 4rem 0 2rem;
}

/* Styling the contact form */

.contact-form {
    margin: 4rem 0;
}

.contact-form div {
    margin: 1rem 0;
}

.contact-form label {
    margin: 0 0 0.5rem 0;
}

.contact-form input {
    display: block;
    width: 100%;
    padding: 0.5rem;
}

.contact-form textarea {
    resize: none;
    display: block;
    padding: 0.5rem;
    width: 100%;
}

.contact-form button {
    background-color: #8DAD93;
    color: #FDF6F0;
    display: block;
    width: 100%;
    padding: 1rem;
    border: none;
    transition: 250ms linear;
}

.c-socialmedia {
    margin-bottom: 4rem;
}

.c-social-items a {
    text-decoration: none;
    color: inherit;
    display: block;
    margin: 1rem 0;
}

.c-social-items i {
    font-size: 2rem;
    margin-right: 1rem;
}

.c-social-link {
    display: flex;
    align-items: center;
}


/*---------- Tablet Styles ----------*/


@media screen and (min-width:768px) {

    .container-fluid {
        padding: 2.5rem;
    }

    /* Footer */

    footer {
        margin-top: 2rem;
    }

    /* Using flex to stretch the footer to the width */

    .footer-main {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding: 2rem 0;
    }

    .f-nav-list {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 0;
        padding-left: 0;
    }

    .f-nav-logo {
        flex-basis: 100%;
        display: flex;
        margin-left: 0;
    }

    .f-nav-item:nth-child(2) {
        margin-left: 0;
    }

    .f-socialmedia a:nth-child(5) {
        margin-right: 0;
    }

    .copyright {
        text-align: left;
        padding-left: 0;
    }

    /* About Page */

    /* Keeping the images inline by using a 2 column grid */

    .about-images {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 2rem;
        margin: 4rem 0;
    }

    .about-images img:nth-child(1) {
        margin-right: auto;
    }

    .skills {
        display: flex;
        justify-content: space-between;
    }

    .skills h2 {
        padding: 2rem 0.9rem;
    }

    /* Contact Page */

    /* Using flex to display them in order */

    .c-social-items {
        display: flex;
        flex-wrap: wrap;
    }

    .c-social-items div {
        flex-basis: 33.3%;
        justify-content: center;
    }

    .c-social-items div:nth-child(4),
    .c-social-items div:nth-child(5) {
        flex-grow: 2;
        justify-content: center;
    }
}


/*---------- Desktop Styles ----------*/


@media screen and (min-width:1080px) {

    /* Home Page */

    .navbar {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    /* Applying horizontal padding the fluid container */

    .container-fluid {
        padding: 0 140px;
    }

    .h-about {
        font-size: 1.5rem;
        padding: 4rem 16rem;
    }

    .hero h1 {
        font-size: 4rem;
    }

    .categories {
        max-width: 800px;
        margin: 0 auto;
    }

    .footer-img {
        width: 4rem;
        height: 4rem;
    }

    /* About Page */

    .about-images img:nth-child(1) {
        margin-top: 0;
    }

    .about-h1 {
        margin: 0;
    }

    .about-details {
        display: flex;
        align-items: flex-start;
        margin: 6rem 0 2rem 0;
    }

    .about-details div {
        flex-basis: 50%;
    }

    .about-images {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 2rem;
        margin-bottom: 4rem;
    }

    .about-images img {
        width: 100%;
        height: auto;
    }

    .about-images img:nth-child(1) {
        margin-right: auto;
    }

    .about-more {
        display: flex;
    }

    .about-more h2 {
        flex-basis: 33.3%;
    }

    .about-more p {
        flex-basis: 66.7%;
    }

    .about-experience {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .about-experience .work-details {
        grid-column: 2/4;
    }

    .skills {
        grid-column: 1/4;
        margin-top: 6rem;
    }

    .skills h2 {
        padding: 2rem 5rem;
    }

    /* Contact Page */

    .contact-desc {
        max-width: 600px;
    }

    /* Placing the form items in a grid */

    .forms {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 4rem;
        grid-column-gap: 4rem;
    }

    .contact-form {
        margin-top: 0;
    }

    .contact-form button:hover {
        background-color: #47644c;
    }

    .c-social-items {
        display: block;
        text-align: left;
    }

    .c-social-items div {
        justify-content: flex-start;
    }

    .c-social-items div:nth-child(4),
    .c-social-items div:nth-child(5) {
        justify-content: flex-start;
    }

    .c-social-link:hover {
        color: #47644c;
    }

}