/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Prototype Styles */

html {
    font-size: 16px;
    font-family: "Nunito", sans-serif;
    box-sizing: border-box;
}

body {
    color: #333131;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

header {
    box-shadow: 5px 10px 15px rgba(186, 186, 186, 0.12);
}

nav {
    display: flex;
    flex-direction: column;
}

.nav-img a {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.nav-img img {
    max-width: 30%;
}

.nav-list-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav-item a {
    display: block;
    text-decoration: none;
    color: inherit;
    padding: 1.25rem;
    font-weight: bold;
    text-align: center;
    border-radius: 8px;
}

li.active {
    background-color: #285C47;
    color: #ffffff;
}   

.nav-button a {
    text-decoration: none;
    color: #ffffff;
    padding: 1rem;
    margin: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    font-weight: bold;
    background-color: #49B77E;
}

.nav-button i {
    font-size: 1.25rem;
    margin-right: 0.75rem;
}

.banner {
    animation: top-slideIn 600ms cubic-bezier(.11,.91,.59,.95);
    z-index: -3;
}

.banner img {
    width: 100%;
}

.products {
    margin: 3rem 1.5rem;
    position: relative;
}

.products h2 {
    animation: bottom-slideIn 600ms cubic-bezier(.11,.91,.59,.95);
}

.popular-products {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1rem;
    animation: bottom-slideIn 1s cubic-bezier(.11,.91,.59,.95);
}

.popular-products img {
    width: 100%;
    border-radius: 4px;
    margin-bottom: 1rem;
}

.popular-item {
    padding: 0.75rem;
    border: 0.5px solid #77CABA;
    border-radius: 8px;
    margin-bottom: 2rem;
    text-align: center;
    position: relative;
}

.popular-item p {
    margin: 10px 0;
}

.popular-caption {
    display: none;
}

.popular-item a {
    padding: 1rem;
    text-decoration: none;
    background-color: #49B77E;
    display: block;
    text-align: center;
    color: white;
    border-radius: 8px;
    transition: 250ms;
}

.favourite {
    font-weight: bold;
    padding: 0.5rem;
    border: 2px solid #49B77E;
    border-radius: 8px;
    color: #49B77E;
    transition: 250ms;
    position: absolute;
    top: 1.25rem;
    right: 1.25rem;
}

.favourite:hover {
    color: #ffffff;
    background-color: #49B77E;
}

.more-btn {
    border-radius: 8px;
    border: 1px solid #49B77E;
    text-decoration: none;
    color: #49B77E;
    padding: 1rem;
    text-align: center;
    font-weight: bold;
    grid-column: 1/3;
    transition: 250ms;
}

.more-btn:hover {
    background-color: #49B77E;
    color: #ffffff;
}


h1 {
    font-family: "Bungee", sans-serif;
    font-size: 3rem;
    color: #285C47;
    text-align: center;
}

h2 {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    line-height: 1.4;
}

h3 {
    font-size: 1.15rem;
    font-weight: bold;
}

footer {
    background-color: #0E4C33;
    color: #ffffff;
    padding: 1.5rem;
}

.footer-copy {
    margin: 0.5rem;
}

footer p {
    margin: 0.5rem;
    text-align: center;
}

.social-media {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.social-icons {
    margin: 1rem auto;
}

.social-icons i {
    transition: 100ms;
}

.social-icons i:hover {
    color: #49B77E;
}

.social-icons a {
    margin: 0 1rem;
}

.fa-facebook-square, .fa-instagram-square,
.fa-twitter-square, .fa-pinterest-square {
    color: #ffffff;
    font-size: 2.5rem;
}


/* Contact Page */

.contact-head {
    margin: 60px 0;
    animation: bottom-slideIn 1s cubic-bezier(.11,.91,.59,.95);
}

form {
    margin: 1rem;
    border: 1px solid #49B77E;
    border-radius: 8px;
    padding: 1.5rem 1.5rem 1rem;
    animation: left-slideIn 600ms cubic-bezier(.11,.91,.59,.95);
}

form input, textarea {
    background-color: #F5F5F5;
    border-radius: 4px;
    border: 1px solid #cacaca;
    padding: 0.5rem;
    display: block;
    width: 100%;
    margin-top: 8px;
    resize: none;
}

form div {
    margin-bottom: 1rem;
}

form button {
    background-color: #49B77E;
    color: #ffffff;
    padding: 1rem;
    width: 100%;
    border: none;
    border-radius: 8px;
    font-family: "Nunito", sans-serif;
    font-size: 1rem;
    font-weight: bold;
}

.map {
    margin: 2.5rem 1rem;
}

.contact-map {
    width: 100%;
}

iframe {
    border-radius: 8px;
    animation: right-slideIn 600ms cubic-bezier(.11,.91,.59,.95);
}

.address, .mailaddress, .phone {
    background-color: #F5F5F5;
    padding: 1.5rem;
    margin: 1rem 1rem 2rem;
    border-radius: 8px;
    text-align: center;
    border: 1px solid #77CABA;
    animation: bottom-slideIn 1s cubic-bezier(.11,.91,.59,.95);
}

.info-boxes i {
    font-size: 4rem;
}

.fa-map-marker-alt {
    animation: icon-wiggle 2s 1s infinite;
}

.fa-envelope {
    animation: icon-move 1.5s cubic-bezier(.11,.91,.59,.95) 1s infinite;
}

.fa-phone-alt {
    animation: icon-shake 1s ease-in-out 1s infinite alternate;
}

.info-boxes p {
    margin-top: 0.5rem;
    line-height: 1.7;
}

.phone {
    margin-bottom: 4rem;
}

@keyframes icon-wiggle {
    40% {
       transform: translate(0, -20px);
    }
    50% {
        transform: translate(0, 6px);
    }
    60% {
       transform: translate(0, 0);
    }
    80% {
        transform: rotate(0deg);
    }
    85% {
        transform: rotate(10deg);
    }
    90% {
        transform: rotate(0deg);
    }
    95% {
        transform: rotate(-10deg);
    }
}

@keyframes icon-move {
    0% {
        opacity: 1;
    }
    20% {
        opacity: 0;
        transform: translate(60px, 0) skew(-15deg);
    }
    30% {
        transform: translate(-60px, 0);
        opacity: 0;
    }
    40% {
        transform: translate(10px, 0) skew(-15deg);
    }
    50% {
        transform: translate(0, 0);
        opacity: 1;
    }
}

@keyframes icon-shake {
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(15deg);
    }
    20% {
        transform: rotate(-20deg);
    }
    40% {
        transform: rotate(-15deg);
    }
    40%, 100% {
        transform: rotate(-15deg);
    }
}


/* About Page */

.about {
    margin: 60px 0 40px;
    animation: bottom-slideIn 1s cubic-bezier(.11,.91,.59,.95);
}
    
.about-description {
    margin: 0 2rem 2rem;
    line-height: 1.75;
    text-align: center;
    animation: desc-slideIn 800ms cubic-bezier(.11,.91,.59,.95);
}

.about-h3 {
    font-family: "Bungee", sans-serif;
    font-size: 2rem;
    color: #285C47;
    text-align: center;
    margin: 1rem;
}

.mission-vision {
    margin-top: 4rem;
}

.mission {
    animation: left-slideIn 1s cubic-bezier(.11,.91,.59,.95);
}

.vision {
    animation: right-slideIn 1s cubic-bezier(.11,.91,.59,.95);
}

.mission, .vision {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #77CABA;
    border-radius: 8px;
}

.mission-vision p {
    font-size: 0.9rem;
    line-height: 1.5;
    margin: 1rem;
}

.more-details {
    margin: 4rem 1rem;
    animation: bottom-slideIn 1.5s cubic-bezier(.11,.91,.59,.95);
}

.more-details img {
    width: 100%;
    border-radius: 8px;
}

.more-details p {
    margin: 1rem;
    line-height: 1.5;
}

.inspiration {
    margin-top: 2.5rem;
}

@keyframes bottom-slideIn {
    0% {
        opacity: 0;
        position: relative;
        bottom: -6rem;
    }
    50% {
        opacity: 1;
        position: relative;
        bottom: 0;
    }
}

@keyframes top-slideIn {
    0% {
        opacity: 0;
        position: relative;
        top: -2rem;
    }
    50% {
        opacity: 1;
        position: relative;
        top: 0;
    }
}

@keyframes desc-slideIn {
    0% {
        opacity: 0;
        position: relative;
        bottom: -8rem;
    }
    80% {
        opacity: 1;
        position: relative;
        bottom: 0;
    }
}

@keyframes left-slideIn {
    0% {
        opacity: 0;
        transform: translate(-4rem, 0);
    }
    100% {
        transform: translate(0,0);
    }
}

@keyframes right-slideIn {
    0% {
        opacity: 0;
        transform: translate(4rem, 0);
    }
    100% {
        transform: translate(0,0);
    }
}


/* Tablet Styles */

@media screen and (min-width: 768px) {

    /* Home Page */

    h2 {
        font-size: 3rem;
    }

    h3 {
        font-size: 1.3rem;
    }

    .favourite {
        font-size: 1.1rem;
        font-weight: bold;
        padding: 1rem;
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;
    }

    footer {
        display: flex;
        align-items: center;
    }

    .footer-copy {
        order: -1;
        flex-grow: 2;
        justify-items: flex-start;
    }

    footer p {
        text-align: left;
    }

    .social-media p {
        text-align: right;
    }

    .social-icons a:nth-child(1) {
        margin-left: 0;
    }

    .social-media p {
        margin-left: 0;
    }

    /* About Page */

    .mission-vision {
        display: flex;
    }

    .story {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
        "pic1 ourstory"
        "pic1 desc1"
        "pic1 desc1"
        "pic1 desc1"
        "pic1 desc1";
    }

    .story div {
        grid-area: pic1;
    }

    .story .about-h3 {
        text-align: left;
        margin-top: 0;
        margin-left: 2rem;
        grid-area: ourstory;
    }

    .story p {
        margin-left: 2rem;
        grid-area: desc1;
    }

    .more-details p {
        margin-top: -2rem;
    }

    .inspiration {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
        "inspiration pic2"
        "desc2 pic2"
        "desc2 pic2"
        "desc2 pic2"
        "desc2 pic2";
        margin-top: 4rem;
    }

    .inspiration div {
        grid-area: pic2;
    }

    .inspiration h3 {
        grid-area: inspiration;
        text-align: left;
    }

    .inspiration p {
        grid-area: desc2;
        margin: -1rem 2rem 0 0;
    }

    .inspiration .about-h3 {
        margin-left: 0;
        margin-top: 0;
    }

    /* Contact Page */

    .info-boxes {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .phone {
        margin-bottom: 2rem;
    }

}    

@media screen and (min-width: 1080px) {

    .container {
        margin: 0 6rem;
    }

    h2 {
        font-size: 3rem;
        font-weight: bold;
        text-align: center;
    }

    nav {
        flex-direction: row;
        justify-content: space-between;
        padding: 16px 100px;
        align-items: center;
        font-size: 1.125rem;
    }
    
    .nav-img {
        display: block;
        flex-basis: 10%;
    }

    .nav-img a {
        margin-top: 0;
    }
    
    .nav-img img {
        max-width: 100%;
    }
    
    .nav-list {
        flex-basis: 80%;
    }
    
    .nav-list-items {
        flex-direction: row;
        justify-content: center;
    }
    
    .nav-item {
        margin: 0 2em;
        font-weight: bold;
    }

    .nav-item a {
        transition: 250ms;
    }

    .nav-item a:hover {
        background-color: #49B77E;
        color: #ffffff;
    }

    li.active {
        border-radius: 8px;
    }

    .nav-button a {
        padding: 1.25rem 2rem;
        transition: 300ms;
    }

    .nav-button a:hover {
        background-color: #285C47;
    }

    .products {
        margin-top: 4rem;
        margin-bottom: 4rem;
        position: relative;
    }

    .popular-item {
        text-align: left;
    }

    .popular-caption {
        display: block;
    }

    .popular-products {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
        "pone ptwo pthree"
        "pfour pfive psix"
        ". button .";
        grid-column-gap: 3rem;
    }

    .popular-products img {
        max-width: 100%;
    }

    .popular-item:nth-child(1) {
        grid-area: pone;
    }
    
    .popular-item:nth-child(2) {
        grid-area: ptwo;
    }
    
    .popular-item:nth-child(3) {
        grid-area: pthree;
    }
    
    .popular-item:nth-child(4) {
        grid-area: pfour;
    }
    
    .popular-item:nth-child(5) {
        grid-area: pfive;
    }
    
    .popular-item:nth-child(6) {
        grid-area: psix;
    }

    .product-btn {
        display: flex;
        justify-content: space-between;
    }

    .cart-button {
        flex-grow: 2;
        margin-right: 0.5rem;
    }

    .favourite {
        position: initial;
    }

    .more-btn {
        grid-area: button;
    }
    
    h3 {
        font-weight: bold;
        font-size: 2rem;
    }
    
    .popular-item a:hover {
        background-color: #0E4C33;
    }

    footer {
        padding: 1.5rem 0;
    }

    /* Contact Page */

    .contact-head {
        margin: 4rem 4rem 3rem;
    }

    .contact {
        display: flex;
        align-items: flex-start;
    }

    .contact div, form {
        flex-basis: 50%;
    }

    .map {
        margin: 1rem;
    }
    
    .info-boxes div {
        padding: 2.5rem;
    }

    .info-boxes p {
        margin-top: 1rem;
    }

    .contact-form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "fname mnumber"
        "email email"
        "message message"
        "button button";
        grid-column-gap: 1rem;
    }

    .contact-form div:nth-child(1) {
        grid-area: fname;
    }

    .contact-form div:nth-child(2) {
        grid-area: mnumber;
    }

    .contact-form div:nth-child(3) {
        grid-area: email;
    }

    .contact-form div:nth-child(4) {
        grid-area: message;
    }

    .contact-form button {
        grid-area: button;
    }


    /* About Page */


    .about {
        margin: 4rem 4rem 3rem;
    }

    .about-h3 {
        font-size: 2.5rem;
    }

    .about-description {
        font-size: 1.25rem;
        margin: 0 8rem 2rem;
    }

    .mission-vision p {
        font-size: 1rem;
        line-height: 1.6;
        margin: 1rem 5rem;
        text-align: center;
    }

}