/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* -------------------------------- 
Midterm Styles
--------------------------------- */

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #aad4cf;
}

main {
    max-width: 1000px;
    margin: 0 auto;
    background-color: #d4e9e7;
}

h1 {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    top: 26%;
    font-size: 56px;
    color: white;
    font-weight: 600;
}

#head-img {
    margin: 0 auto;
    width: 1000px;
}

nav {
    padding: 16px 0 16px 0;
}

.nav-links li {
    display: inline-block;
    width: 32.9%;
    text-align: center;
    border-right: 1px solid black;
    font-size: 24px;
}

.nav-links li:last-child {
    border: none;
}


article {
    margin: 16px 16px 0 16px;
    padding-bottom: 16px;
}

.img-desc {
    margin: 10px 20px 0 0;
}

.small-img {
    width: 300px;
    float: left;
    margin: 0 20px 20px 0;
}

p {
    font-weight: normal;
    line-height: 1.5;
}

h2 {
    font-size: 36px;
    font-weight: bold;
    margin: 32px 0 0 0;
}

h3 {
    font-size: 28px;
    font-weight: 500;
    padding-left: 0px;
    margin: 32px 0 16px 0;
}

.facts {
    font-size: 14px;
    line-height: 1.5;
    list-style-type: disc;
    margin: 10px 0 0 16px;
}

.contact-form {
    border-style: solid;
    border-width: 2px;
    padding: 16px 10px 10px 10px;
}

.contact-form div {
    padding: 10px;
}

input {
    border: .5px solid gray;
    margin-top: 10px;
}

label {
    font-size: 16px;
}

#yourname, #email, #message{
    width: 100%;
    padding: 6px;
    box-sizing: border-box;
}

textarea {
    width: 100%;
    resize: none;
    height: 80px;
    margin-top: 10px;  
}

h4 {
    margin: 10px 0 10px 0;
}

button {
    font-size: 12px;
    padding: 10px;
    margin: 12px 0 0 8px;
}

footer {
    text-align: right;
    font-size: 14px;
    padding: 1em 2em 2em 1em;
}