body {
    font-size: 18px;
}

header, footer{
    background-color: aqua;
}

.site-title {
    color:blueviolet;
}

#my-image {
    box-shadow: 0, 0, 2px, 1px, #000;
}

.hobbies {
    list-style-type: square;
}

.navigation {
    list-style-type: none;
}

.navigation a {
    text-decoration: none;
    background-color: burlywood;
    border: cadetblue;
    border-style: solid;
    border-width: 2px;
}

.navigation a:hover {
    background-color: coral;
}

